@charset "utf-8";
.tit_top{padding: 60px 0;}
.tit{font-size: 24px;letter-spacing: 7.8px;text-align: center;background: pink;}
section.section{height: 100vh;}

/*fullpage 인디케이터 버튼(#fp-nav)*/
#fp-nav.fp-right{right: 150px;}
#fp-nav ul li:last-child{width: 1px;height: 1px;overflow: hidden;border: none;position: absolute;clip: rect(1px, 1px, 1px, 1px);clip-path: inset(50%);}
#fp-nav ul li + li{margin-top: 20px;}
#fp-nav ul li a span, .fp-slidesNav ul li a span, #fp-nav ul li:hover a span{width: 6px;height: 6px;border: 2px solid #aaa;background: none;margin: -5px 0 0 -5px;}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span{width: 12px;height: 12px;background: #d60037;border: none;margin: -6px 0 0 -6px;}
#fp-nav ul li:hover a span{border-color: #d60037;}
#fp-nav ul li .fp-tooltip{padding: 0 10px;height: 22px;line-height: 22px;background: #d60037;color: #fff;font-family: NtSansKR;top: -5px;border-radius: 3px;margin-right: 3px;overflow: visible;}
#fp-nav ul li:hover .fp-tooltip::after, #fp-nav.fp-show-active a.active + .fp-tooltip::after{content: "";position: absolute;right: -6px;top: 7px;border-left: 6px solid #d60037;border-top: 4px solid transparent;border-bottom: 4px solid transparent;}

/*#cnt1*/
#cnt1 .swiper-container{height: 100vh;}
#cnt1 .swiper-container .swiper-slide{background: no-repeat center -110px;background-size: cover;}
#cnt1 .swiper-container .slide1{background-image: url("../images/main/new_latte.jpg");}
#cnt1 .swiper-container .slide2{background-image: url("../images/main/new_ade_Text2.jpg");}
#cnt1 .swiper-container .slide3{background-image: url("../images/main/new_bingsu2.jpg");}

/* #cnt1 .swiper-container .swiper-slide > *{position: absolute;} */
#cnt1 .swiper-container .swiper-slide > *{position: absolute;}
#cnt1 .swiper-container .swiper-slide h3{font-weight: 500;font-size: 1.5625vw;letter-spacing: -0.008vw;} /*font-weight: 500;font-size: 30px;letter-spacing: -0.3px;*/
#cnt1 .swiper-container .swiper-slide a{font-size: 0.833vw;font-weight: 500;letter-spacing: 0.05vw;} /*font-size: 16px;font-weight: 500;letter-spacing: 0.96px;*/

/*#cnt1 .controller*/
#cnt1 .controller{width: 225px;height: 56px;background: rgba(0, 0, 0, .5);left: 10vw;bottom: 150px;border-radius: 50px;z-index: 50;}
#cnt1 .controller .swiper-pagination{width: 60px;height: 100%;left: 57px;top: 0;line-height: 56px;font-size: 14px;font-weight: 300;text-align: center;color: #fff;}
#cnt1 .controller .swiper-pagination .swiper-pagination-current{font-size: 20px;}
#cnt1 .controller .swiper-button-next:after, #cnt1 .controller .swiper-button-prev:after{display: none;}
#cnt1 .controller div + div{margin-top: 0;}
#cnt1 .controller div + div, #cnt1 .controller button{position: absolute;width: 41px;height: 40px;top: 8px;background: url("../images/icon/pc-basic-large_h40.png") no-repeat;}
#cnt1 .controller .swiper-button-prev{background-position-x: -262px;left: 10px;}
#cnt1 .controller .swiper-button-next{background-position-x: -394px;right: 60px;}
#cnt1 .controller .stop_play{right: 10px;}
#cnt1 .controller .btn_play{display: none;background-position-x: -131px;}

/*#cnt2*/
#cnt2 ul{justify-content: space-around;}
#cnt2 ul li{width: 340px;height: 560px;border: 1px solid purple;}
#cnt2 ul li div:nth-child(2){position: relative;width: 100%;padding: 31px 0;text-align: center;}
#cnt2 ul li div:nth-child(2).fade_down{flex-direction: column-reverse;}
#cnt2 ul li:nth-child(2) > *{position: absolute;}
/* #cnt2 ul li .over_hide{overflow: hidden;} */
#cnt2 ul li:nth-child(2) .over_img{bottom: 0;}
#cnt2 ul li .over_img::after{content: "";position: absolute;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, .7);}
#cnt2 ul li .over_img.p_r::after{top: 460px;}
#cnt2 ul li:nth-child(2) .over_img::after{top: -460px;}
#cnt2 ul li:nth-child(2) div:nth-child(2){top: -260px;}

#cnt2 ul li .over strong{display: block;font-size: 16px;color: #666;letter-spacing: 0.8px;font-weight: 400;}
#cnt2 ul li .over h3{color: #333;font-size: 34px;letter-spacing: 2.55px;padding: 16px 0;}
#cnt2 ul li .over p, #cnt2 ul li .over a{color: #fff;font-size: 14px;}
#cnt2 ul li .over p{position: relative;letter-spacing: -0.14px;line-height: 24px;margin: 52px 0;}
#cnt2 ul li .over p::after{content: "";position: absolute;width: 26px;height: 1px;background: #fff;top: -34px;left: 157px;}
#cnt2 ul li:nth-child(2) .over p::after{top: 106px;}
#cnt2 ul li .over a{display: block;width: 108px;height: 36px;line-height: 34px;border: 1px solid #fff;border-radius: 20px;margin: 0 auto;-moz-box-sizing: border-box;box-sizing: border-box;}

/*#cnt2 mouse over: div(.over_img)에 마우스 오버 시 .on이라는 클래스 추가 필요(+focus 가능하도록 설정) => 스크립트 필요*/
#cnt2 ul li .over_img.on::after{opacity: 1;top: 0;}
#cnt2 ul li .over_img.on + .over{top: -416px;}
#cnt2 ul li:nth-child(2) .over_img.on + .over{top: 160px;}
#cnt2 ul li .over_img.on + .over strong, #cnt2 ul li .over_img.on + .over h3{color: #fff;}

/*#cnt2 fade effect*/
/* #cnt2 .fade .fade_down, #cnt2 .fade .fade_up{opacity: 0;}
#cnt2 .fade .fade_down{-webkit-transform: translate(0, -100px);-moz-transform: translate(0, -100px);-o-transform: translate(0, -100px);transform: translate(0, -100px);}
#cnt2 .fade .fade_up{-webkit-transform: translate(0, 100px);-moz-transform: translate(0, 100px);-o-transform: translate(0, 100px);transform: translate(0, 100px);}
#cnt2 .fade.on .fade_down, #cnt2 .fade.on .fade_up{opacity: 1;-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);transform: translate(0, 0);}
.delay_3{-webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;-o-transition-delay: 0.3s;transition-delay: 0.3s;}
.delay_6{-webkit-transition-delay: 0.6s;-moz-transition-delay: 0.6s;-o-transition-delay: 0.6s;transition-delay: 0.6s;} */